@model FuneralPolicyApp.ViewModels.AddPolicyViewModel
@{
    ViewBag.Title = "Add";
}

<h2>New Policy</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Policy</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

    <div class="form-group">
        @Html.LabelFor(model => model.Policy.Premium, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Policy.Premium, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Policy.Premium, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Policy.SumAssured, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Policy.SumAssured, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Policy.SumAssured, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Policy.CompanyId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Policy.CompanyId, new SelectList(Model.Companies, "ID", "CompanyName"), "Assign Company")
        </div>
    </div>

    

    <div class="form-group">
        @Html.LabelFor(model => model.Policy.SubscriberId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Policy.SubscriberId, new SelectList(Model.Subscribers, "SubscriberID", "FirstName"), "Assign Principal Member")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
