@model IEnumerable<FuneralPolicyApp.Models.Policy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumAssured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PolicyNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Premium)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SumAssured)
    </td>
    <th>
        @Html.DisplayNameFor(model => model.Status)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AgentName)
    </th>


    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Add Dependents", "AddDependant", new { PolicyNo = item.PolicyNo }) |
        @Html.ActionLink("Dependents", "ViewDependants", new { PolicyNo = item.PolicyNo }) |
        @Html.ActionLink("Pay Premium", "Index", "Premium")
    </td>
</tr>
}

</table>
