@model IEnumerable<FuneralPolicyApp.Models.Dependant>

<p>
    <br/>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumAssured)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumAssured)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Register Claim", "RegisterClaim", new { dependantID = item.ID })
        </td>
    </tr>
}

</table>
